<div class='mb-5 pt-3'>
    <a href="/posts/new"><button class='btn btn-primary justify-content-end' id='create-post'>create a
            post</button></a>
    <h2 class='title pb-4'>Dashboard: Your Posts</h2>
</div>
<div>
{{#each posts as |post|}}
    <article>
       <a href="/post/{{post.id}}" ><h1>{{post.title}}</h1></a>
        <h4>posted at {{post.createdAt}}</h4>
        <h4>By: {{post.user.user_name}}</h4>
        <p>{{post.content}}</p>
    </article>
{{/each}}
</div>